[phases.setup]
nixPkgs = ["php82", "php82Packages.composer"]

[phases.install]
cmds = [
  "composer install --ignore-platform-reqs --no-dev --optimize-autoloader",
  "php artisan config:cache",
  "php artisan route:cache",
  "php artisan view:cache"
]

[start]
cmd = "php artisan migrate --force && php artisan reverb:start --host=0.0.0.0 --port=8080 & php artisan queue:work --daemon & php artisan serve --host=0.0.0.0 --port=8000"
